@import url("https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Karla:wght@700&family=Montserrat:wght@500&family=Noto+Serif+Vithkuqi&family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Karla:ital@1&family=Montserrat:wght@500&family=Noto+Serif+Vithkuqi&family=Roboto&display=swap");

.attribution {
  font-size: 11px;
  text-align: center;
  a {
    color: hsl(228, 45%, 44%);
  }
}

* {
  margin: 0;
}

$weis: hsl(204, 43%, 93%);

main {
  background-color: rgb(152, 166, 189, 0.5);
  min-height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
  article {
    background: #fff;
    margin: 0 1.5rem;
    width: 800px;
    border-radius: 0.5rem;
    overflow: hidden;
    -webkit-box-shadow: 1px 10px 25px 8px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 1px 10px 25px 8px rgba(0, 0, 0, 0.1);
    box-shadow: 1px 10px 25px 8px rgba(0, 0, 0, 0.1);
    section.header {
      width: 90%;
      padding: 2rem 0;
      display: block;
      margin: 0 auto;
      h1 {
        padding: 1.5rem 0;
        font-size: 2rem;
        color: hsl(179, 62%, 43%);
      }
      p {
        font-size: 16px;

        color: hsl(218, 22%, 67%);
        &.green {
          color: hsl(71, 73%, 54%);
          font-size: 1.5rem;
          padding: 0 0 1rem;
        }
      }
    }
    .teiler {
      display: flex;
      flex-direction: row;
      @media (width < 900px) {
        flex-direction: column;
        section {
          width: calc(100% - 4rem) !important;
          padding: 2rem !important;
        }
      }
      section {
        width: 50%;
        padding: 1rem;
        @media (width < 900px) {
          width: calc(100% - 4rem);
          padding: 2rem;
        }
        &.angebot {
          background: rgba(8, 136, 123, 0.766);
          p {
            color: $weis;
            font-size: 1rem;
            padding: 0 0 1rem 0;
            text-wrap: balance;
            text-align: center;

            &.price {
              display: flex;
              align-items: center;
              color: rgb($weis, 0.5);
              span {
                color: $weis;
                font-size: 2rem;
                padding: 0 0.5rem 0;
              }
            }
          }
          button {
            display: block;
            margin: 0 auto 1.8rem;
            width: 80%;
            padding: 0.8rem 0;
            font-size: 1rem;
            border-radius: 0.8rem;
            border: none;
            background: hsl(71, 73%, 54%);
            color: $weis;
          }
        }
        &.whyus {
          background: rgba(8, 136, 123, 0.578);
          p {
            color: $weis;
            font-size: 1.5rem;
            text-wrap: balance;
          }
        }
        h2 {
          padding: 2rem 0 1rem;
          color: $weis;
        }
      }
    }
  }
}
